{% extends 'blog/base.html' %}

{% block content %}
{% for post in pageposts %}
<div class="post">
    <div class="date">
        {{ post.published_date }}
    </div>
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a>
</div>
{% endfor %}
<!--페이지네이션 구현-->
<div class="pagination">
    {% if pageposts.has_previous %}
    <a href="?page={{pageposts.previous_page_number}}">Previous</a>
    {% endif %}

    <span>{{pageposts.number}}</span>
    <span>of</span>
    <span>{{pageposts.paginator.num_pages}}</span>

    {% if pageposts.has_next %}
    <a href="?page={{pageposts.next_page_number}}">Next</a>
    {%endif%}
    <p>You have visited this page {{num_visits}}{% if num_visits == 1 %} time{% else %} time{% endif %}.</p>
</div>
{% endblock %}